<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel='icon' href="https://img.icons8.com/bubbles/2x/about-me-female.png">
</head>
<body>
    <!-- <div class="ui inverted top fixed menu">
        <div class="item ui small header">Sample Branding</div>
        <div class="right menu">
            <div class="item active ui medium header"><a href="/login">Administrator Login</a></div>
        </div>
    </div> -->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="home" class="nav__logo">Sunita Kapoor</a>
            </div>
    
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="../" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
                    <li class = "nav__item"><a href="#" class="nav__link active">Admin Login</a></li>
                </ul>
            </div>
    
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>
    <div style="  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="ui raised very padded text container segment">
        <p style="text-align: center" class="ui huge header">Login with Administrator Credentials</p>
        <form class="ui form" method="post" action="/login">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button style="display:block;width:20%;margin:auto"class="ui primary button" type="submit">Submit</button>
        </form>
    </div>
    </div>
</body>