<head>
    <meta charset="utf-8">
    <title>My Blogs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css"> 
</head>

<body>
    <!-- List all blogs using Semantic-UI under this page -->
    <div class="ui inverted top fixed menu">
        <div class="item ui small header">Sample branding</i></div>
        <div class="right menu">
            <div class="item ui medium header"><a href="/login">Administrator Login</a></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>
</body>