<head>
    <meta charset="utf-8">
    <title>My Blogs</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
</head>

<body>
    <div class="ui inverted top fixed menu">
        <div class="item ui small header">Sample branding</i></div>
        <div class="right menu">
            <div class="item ui medium header"><a href="/blog">Read blogs</a></div>
            <div class="item ui medium header"><a href="/newblog">Create blog</a></div>
        </div>
    </div>
</body>